.app {
  width: 100%;
}
.app__main {
  padding-top: 160px;
}

.title {
  margin-bottom: 20px;
  font-weight: 500;
}
.para {
  margin-bottom: 15px;
}
.readMore-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 15px;
  padding-top: 20px;
}
.readMore-btn {
  font-size: 18px;
  font-weight: 300;
}

@media only screen and (max-width: 426px) {
  .readMore-btn {
    font-size: 16px;
  }
  .app__main {
    padding-top: 140px;
  }
}
