*,
body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
  font-weight: 200;
  background-color: #fff;
  color: #333;
  border-color: #333;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  opacity: 0.6;
}

.App {
  width: 100%;
}
