.project-content {
  max-width: 900px;
  margin-bottom: 100px;
}
.project-content__description-container {
  margin-top: 50px;
}
.project-content__description {
  margin-bottom: 15px;
}

.project-content__readMore-btn {
  font-size: 18px;
  font-weight: 300;
  justify-content: end;
}
