.project {
  max-width: 1200px;
  /* padding: 0px 100px; */
}

.project__video {
  width: 100%;
  aspect-ratio: 16/9;
}
.project__supportImg {
  width: 100%;
  max-width: 900px;
  object-fit: contain;
  margin-top: 50px;
}
