.header__wrapper {
  width: 100%;
  padding: 50px;
  border-bottom: solid 1px black;
}
.header__container {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.header__namelogo {
  width: 50px;
  font-size: 24px;
  font-weight: 600;
  align-self: center;
}
.header__navbar {
  display: flex;
  align-self: center;
}
.header__btn {
  margin-right: 20px;
  align-self: center;
}
.header__social-btn {
  margin: 5px;
  align-self: center;
  width: 20px;
}
.header__social-icon {
  width: 100%;
}

.header__burger {
  display: none;
}
